
# prod
# VITE_API_URL="url-public.com/api/v1"

# local
VITE_API_URL="http://localhost:3001/api/v1"
VITE_WOMPI_PUBLIC_KEY="xx_xx_xx"
VITE_WOMPI_SANDBOX_API_URL="https://sandbox.wompi.co/v1"
VITE_SECRET_LOCAL_STORAGE="key_password_xx."